@font-face {
    font-family: 'Poppins';
    src: url("../Poppins/Poppins-Regular.ttf");
}

* {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 20%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
    z-index: 1;
}

.navbar > div {
    display: flex;
    flex: 1;
    flex-basis: 15%;
    align-items: center;
    justify-content: center;
}

.logo {
    flex: 1.5;
}

.logo > img {
    width: 70px;
    margin-left: -50px;
}

.logo > span {
    font-weight: 700;
}

.sign-in {
    margin-left: 300px;
}

.link span {
    padding: 0 10px 0 10px;
    vertical-align: middle;
    display: inline-block;
}

.link span::after, .active::after {
    position: relative;
    display: block;
    bottom: 25%;
    left: 0;
    right: 0;
    margin: auto;
    content: ".";
    color: transparent;
    background-color: #153e52;
    height: 2px;
    width: 0;
    transition: all 0.2s ease;
}

.link:hover span::after {
    width: 100%;
    transition: all 0.2s ease;
}

.link span::after {
    width: 0;
}

.active::after {
    width: 100%;
}