@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

html {
    scroll-behavior: smooth;
}

body {
    font-size: 20px;
    font-family: 'Exo', sans-serif;
}

.logo {
    flex: 1.5;
}

.logo > img {
    width: 70px;
    /* margin-left: -50px; */
}

.logo > span {
    font-weight: 700;
}

.left-wrapper{

    width:50%;
    background-color: hsl(228, 7%, 87%);
    height:100vh;
    

 
}

.right-wrapper{ 
    width: 50%;
    background-color: hsl(0, 100%, 67%);
    height: 100vh;

}

#round-img{
    position: absolute;
        width: 600px;
        top: -14%;
        left: -12%;
        z-index: 0;
    
   
}

#patient-img {
    width: 400px;
    z-index: 1;
}

.tagline {
position: absolute;
    top: 60%;
    width: 80%;
    left: 5%;
    font-size: 3rem;
    font-weight: 700;
}

.half-black-half-white-navbar {
  background: linear-gradient(to right, hsl(228, 7%, 87%) 50%, hsl(0, 100%, 67%) 50%);
}

.nav_additional_links{ 
    margin-right: 600px;
}